html, body, #root {
  height: 100%;
  margin: 1px;
  padding: 1px;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-body {
  flex: 1;
  padding: 30px;
  font-size: 1rem;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e1003c;
  padding: 20px;
}

.App-header img {
  height: 200px;
}

.App-header h1 {
  color: #e1003c;
  margin-left: 20px;
  font-weight: bold;
}

.App-body {
  padding: 30px;
  font-size: 1rem;
}

.App-footer {
  border-top: 3px solid #e1003c;
  text-align: center;
  font-style: italic;
  /* position: absolute; */
  padding: 10px;
}

